/*------------------------------
        STYLE OF CONVERTER
  ------------------------------*/

/*------------------------------
            GENERAL TAGS
  ------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background: rgb(20, 39, 133);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

main {
    background-color: rgb(232, 232, 232);
    margin: 5% 25% 5% 25%;
    padding: 2%;
    font-size: 18px;
    border-radius: 3%;
    box-shadow: 2px 5px 10px rgb(5, 14, 58);
}


footer {
    color: goldenrod;
    display: flex;
    justify-content: center;
    padding: 10px;
}


/*------------------------------
        ELEMENTS IN MAIN
  ------------------------------*/
h2 {
    font-weight: 600;
    /* FOR GRADIENT IN TITLE:
    background: -webkit-linear-gradient(goldenrod, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

h4 {
    color: rgb(20, 39, 133);
}

#formEuro {
    display: inline;
}

#formButton {
    margin: 5%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*------------------------------
        ELEMENTS IN FORM
  ------------------------------*/

input,
select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
}

input[type="submit"] {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5%;
    background-color: goldenrod;
}

#formEuro p {
    display: inline;
    width: 10%;
    color: rgb(20, 39, 133);
}

#formButton p {
    width: 100%;
}

#output {
    margin-left: 5%;
    width: 20%;
}

#error {
    font-weight: 500;
    font-size: 18px;
    color: brown;
    padding: 2px;
    width: 30%;
    text-align: center;
    height: 20px;
}